.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#monthYear {
  margin: 0;
}

.weekdays, .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 10px auto;
  text-align: center;
}

.weekdays div {
  font-weight: bold;
  background-color: #ddd;
  padding: 10px;
}

.day {
  padding: 15px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day.selected {
  background-color: #4caf50;
  color: white;
}

.day:hover {
  background: #d0e8ff;
}
