# Use stdout for logging
global
    log stdout format raw daemon

# Default settings for all proxies
defaults
    log     global
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# Incoming traffic on port 80
frontend http-in
    bind *:80
    default_backend apps  # forward to backend apps

# Backend config with two app servers
backend apps
    balance roundrobin  # distribute requests evenly
    server app1 app1:8999 check  # check if app1 is healthy
    server app2 app2:8999 check  # check if app2 is healthy
